body {
	display: inline;

}
.calc {
background:#ff9800;
width:400px;
height:500px;
border-radius: 5px;
margin-top:20px;
margin-left:30%;
}
.forma,.lab {
	margin-left:10px;
}
.forma {
	width:70%;
	height:35px;
	margin-bottom:20px;

}
.line {
   display: block;
}
#answer {
  margin-bottom: 20px;
}
input,select {
  border-radius:  5px;
  outline:none;
}
#sub {
    padding: 10px 70px  10px 70px;
    cursor: pointer;
    text-align: center;
    border-color: :  white;
    outline:none;
    margin-left: 10px;
}
#sub:hover {
  transition: .2s ease-out ;
  background-color: #ff9800;
  color: white;


}
form h1 {
  padding-left: 20px;
}
